.chorus-list__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  border-radius: 0.5rem;
 .chorus-search {
  width: 100%;
 }
}
.chorus-list__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  gap: 1rem;
  .chorus-list__item {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
