<div class="chorus-list">
  <div class="chorus-list__header">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" />
    </mat-form-field>
  </div>
  <div class="chorus-list__content">
    <mat-card appearance="outlined" class="chorus-list__item" *ngFor="let chorus of choruses">
      <mat-card-header>
        <mat-card-title>{{ chorus.name }}</mat-card-title>
        <mat-card-subtitle>{{ chorus.location.city }}, {{ chorus.location.state }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ chorus.description }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="primary" [routerLink]="['/chorus', chorus.id]">Info</button>
        <a mat-button color="primary" [href]="'mailto:' + chorus.contactEmail">Contact</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
