.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  }
}
